body {
	border: solid 2px;
	margin: 20px auto;
	padding: 0px;
	width: 600px;
	border-radius: 10px;
}

header {
	background: #0054A5;
	color: white;
	height: 80px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 20px;
	  text-align: center;
}

header h1 {
	margin-top: 0px;
}

div#form-inputs {
	background: #C2C2C2;
	border-top: 2px #313131 solid;
	padding: 15px 15px 25px;
}

div#form-inputs .btn-primary span {
	font-size: 90%;
}

#form-buttons {
	background: #0054A5;
	color: white;
	height: 80px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 20px;
	  text-align: center;
}

#form-buttons .btn-default {
	margin: 0px 10px;
	width: 200px;
}

label {
	margin-bottom: 1px;
  	margin-top: 5px;
}



#loading {
  background: black;
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: relative;
  background-size: 1000px;
  overflow: scroll;
  left: 0px;
  top: 0;
  display: none;
  position: fixed;
  opacity: 0.5;
}

#loading  #facebookG {
  width: 128px;
  top: 45%;
  left: 45%;
  position: absolute;
}
@media only screen and (max-width: 760px) {
		body {
			width: 700px;
		}
	}

@media only screen and (max-width: 480px) {

	body {
		width: 360px;
	}

	#form-buttons {
		height: 120px;
	}
}